# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = dress.settings

[deploy]
url = https://www.lafiancee.com.br/vestidos-de-noiva
project = dress
